<nav class="headerContainer">

    <div class="logoContainer">
        <div class="logoContainer-img">
            <img src="../../assets/img/4774497.jpg" alt="">
        </div>
        <h1>N. A.</h1>
    </div>
    <div>
        <ul class="navContainer">
            <li><a href="">Présentation</a></li>
            <li><a href="">Projet</a></li>
            <li><a href="">Connexion</a></li>
            
        </ul>
    </div>

</nav>

<nav id="hamburger-nav">
    <div class="logoContainer">
        <div class="logoContainer-img">
            <img src="../../assets/img/4774497.jpg" alt="">
        </div>
        <h1>N. A.</h1>
    </div>
    <div  class="hamburger-menu">
        <div class="hamburger-icon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-link">
            <li><a href="#presentation">Présentation</a></li>
            <li><a href="#projet">Projet</a></li>
            <li><a href="">Connexion</a></li>
        </div>
    </div>
</nav>