<div class="body-game">
    
    <div class="header-game">
        <ul>
            <li><a [routerLink]="['/HomeCult']">Accueil</a></li>
        </ul>
    </div>
    <div class="top-game">
        <div class="aff">
            <div class="left-container">
                <app-attribut-game></app-attribut-game>
            </div>
            <div class="middle-container"></div>
            <div class="right-container"></div>
        </div>
        <app-menu-game></app-menu-game>
    </div>

    <app-combat-zone class="combat-zone"></app-combat-zone>


</div>