.body-game {

    

    background-color: #0B525B;
    font-family: 'Kodchasan';
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header-game"
        "top-game"
        "combat-zone";

        .combat-zone {
            // border: solid purple 1px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "Perso Enemy";
            grid-area: combat-zone;
        }
    
    .header-game {
        // border: solid rgb(128, 0, 0) 1px;
        grid-area: header-game;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        li{
            margin: 0 10px;
            list-style: none;
            a{
                color: aliceblue;
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    
    .top-game {
        // border: solid rgb(28, 0, 128) 1px;
        grid-area: top-game;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .aff{
            // border: solid rgb(160, 160, 160) 1px;
            width: 100%;
            display: flex;
            flex-direction: row;
            .left-container,.middle-container,.right-container{
                width: 33%;
                height: 100%;
            }
            .left-container{

                border: solid rgb(160, 160, 160) 1px;
            }
            .middle-container{
                border: solid rgb(209, 0, 0) 1px;
            }
            .right-container{
                border: solid rgb(9, 153, 9) 1px;
            }
        }
    }
}

