<div class="attribut-container">
    <div class="attribut-perso">
        <div class="img-perso">

        </div>
        <div class="perso-info" >
            <h3>{{this.joueurObs?.getPseudo()}}</h3>
            <p>Domaine Rang {{this.joueurObs?.getNiveau()}}</p>
            <p>Energies {{this.joueurObs?.getEnergie()}} / {{this.joueurObs?.getEnergieLvl()}}</p>
        </div>
    </div>
    <div class="at-container">
        <div class="attribut-carac">
            <div class="carac-info">
                <p>Vie</p>
                <div class="atr-add">
                    <p>{{this.joueurObs?.getVieMax()}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 20 20" height="30" fill="none" class="svg-icon">
                        <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
                            <circle r="8" cy="10" cx="10"></circle>
                            <path d="m9.99998 7.5v5"></path>
                            <path d="m7.5 9.99998h5"></path>
                        </g>
                    </svg>
                    <!-- <div><i class="fa-solid fa-plus"></i></div> -->
                </div>
            </div>
            <div class="carac-info">
                <p>Air</p>
                <div class="atr-add">
                    <p>{{this.joueurObs?.getAir()}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 20 20" height="30" fill="none" class="svg-icon">
                        <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
                            <circle r="8" cy="10" cx="10"></circle>
                            <path d="m9.99998 7.5v5"></path>
                            <path d="m7.5 9.99998h5"></path>
                        </g>
                    </svg>
                    <!-- <div><i class="fa-solid fa-plus"></i></div> -->
                </div>
            </div>
            <div class="carac-info">
                <p>Eau</p>
                <div class="atr-add">
                    <p>{{this.joueurObs?.getEau()}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 20 20" height="30" fill="none" class="svg-icon">
                        <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
                            <circle r="8" cy="10" cx="10"></circle>
                            <path d="m9.99998 7.5v5"></path>
                            <path d="m7.5 9.99998h5"></path>
                        </g>
                    </svg>
                    <!-- <div><i class="fa-solid fa-plus"></i></div> -->
                </div>
            </div>
            <div class="carac-info">
                <p>Feu</p>
                <div class="atr-add">
                    <p>{{this.joueurObs?.getFeu()}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 20 20" height="30" fill="none" class="svg-icon">
                        <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
                            <circle r="8" cy="10" cx="10"></circle>
                            <path d="m9.99998 7.5v5"></path>
                            <path d="m7.5 9.99998h5"></path>
                        </g>
                    </svg>
                    <!-- <div><i class="fa-solid fa-plus"></i></div> -->
                </div>
            </div>
            <div class="carac-info">
                <p>Terre</p>
                <div class="atr-add">
                    <p>{{this.joueurObs?.getTerre()}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 20 20" height="30" fill="none" class="svg-icon">
                        <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
                            <circle r="8" cy="10" cx="10"></circle>
                            <path d="m9.99998 7.5v5"></path>
                            <path d="m7.5 9.99998h5"></path>
                        </g>
                    </svg>
                    <!-- <div><i class="fa-solid fa-plus"></i></div> -->
                </div>
            </div>
        </div>
    
        <div class="attribut-do">
            <!-- <div class="carac-info">
                <p>Data </p>
                <div class="atr">
                    <p>{{data}}</p>
                    
                </div>
            </div> -->
            <div class="carac-info">
                <p>Dommage </p>
                <div class="atr">
                    <p>{{this.joueurObs?.getDommage()}}</p>
                    
                </div>
            </div>
            <div class="carac-info">
                <p>Puissance </p>
                <div class="atr">
                    <p>{{this.joueurObs?.getPuissance()}}</p>
                </div>
            </div>
            
            
        </div>
    
        <div class="attribut-res">
            <div class="carac-info">
                <p>Résistance brut</p>
                <div class="atr">
                    <p>{{this.joueurObs?.getResBrut()}}</p>
                    
                </div>
            </div>
            <div class="carac-info">
                <p>Résistance Air</p>
                <div class="atr">
                    <p>{{this.joueurObs?.getResAir()}}</p>
                    
                </div>
            </div>
            <div class="carac-info">
                <p>Résistance Eau</p>
                <div class="atr">
                    <p>{{this.joueurObs?.getResEau()}}</p>
                    
                </div>
            </div>
            <div class="carac-info">
                <p>Résistance Feu</p>
                <div class="atr">
                    <p>{{this.joueurObs?.getResFeu()}}</p>
                    
                </div>
            </div>
            <div class="carac-info">
                <p>Résistance Terre</p>
                <div class="atr">
                    <p>{{this.joueurObs?.getResTerre()}}</p>
                </div>
            </div>
        </div>
    </div>
    

</div>
