
.connexion-Body{
    font-family: 'Kodchasan';
    
    background-color: #0B525B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-weight: 900;
        font-size: 35px;
       
    }
    form{
        min-width: 250px;
    }
}

.form-input{
    display: flex;
    flex-direction: column;
    
}
.form-input input{
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    background-color: rgba(4, 45, 50, 0.8);
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.form-input input::placeholder{
    font-family: 'Kodchasan', sans-serif;
    opacity: 0.5;
    color: white;
    font-weight: 800;
    font-size: 24px;
}
.form-check{
    font-family: 'Kodchasan', sans-serif;
    display: flex;
    align-items: center;
    color: white;
}
.form-check input{
    height: 15px;
    width: 15px;
}
.form-submit{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center
}
.form-submit button{
    cursor: pointer;
    background-color: #4D194D;
    // background: linear-gradient(90deg, #4D194D 35.91%, #000000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
/* .form-submit button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #01FF98 35.91%, #000000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    font-size: 16px;
    
} */

.form-line{
    border-bottom: #fff solid 1px;
}
.log-api{
    font-family: 'Kodchasan', sans-serif;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.log-api div{
    cursor: pointer;
    margin: 0px 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.log-api div img{
    height: 100%;
    width: 100%;
}