<div class="homeContainer">
    <app-header></app-header>

    <main class="homeContent">

        <div class="homeContent-1">

            <div class="homeContent-1-text">
                
                <h2>CultForm</h2>
                <div>
                    <button>DEMO</button>
                    <a>A propos de moi</a>
                </div>
            </div>
          
        </div>
        
        <div class="homeContent-2">
            <h2>CultForm</h2>
        </div>
    </main>
    
    
    
</div>

