.homeContainer {
    // min-height: 100vh;
    // width: 100vw;
    

    background-image: url(../../assets/img/bg_bggenerator_com.png);
        background-repeat: no-repeat ;
        background-size: auto;
        background-attachment: fixed;
}

.homeContent {

    min-height: 100vh;
    // width: 100vw;

    .homeContent-1 {
        padding-top: 100px;
        height: 100vh;
        // width: 100vw;
       

        display: flex;
        flex-direction: row;
        
        padding-left: 20%;

        
        h2 {
            font-size: 100px;

        }

        .homeContent-1-text {
            width: auto;
            display: flex;
            flex-direction: column;
            padding-top: 20%;
            
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            a{
                font-size: 30px;
                font-weight: 700;
                text-decoration: none;
                color: black;
                cursor: pointer;
            }
        }

        button {
            padding: 12.5px 30px;
            border: 0;
            border-radius: 100px;
            background-color: #2ba8fb;
            color: #ffffff;
            font-weight: Bold;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

        button:hover {
            background-color: #6fc5ff;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.1);
        }

        button:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }
    }

    .homeContent-2{
        height: 100vh;
        width: 100%;
    }
}

