<div class="homeContainer">
    <!-- <app-header></app-header> -->

    <header>
        <div class="header-f">
            <div>
                <div class="header-text">
                    <h1>Niel Abdallah</h1>
                    <h2>Développeur fullstack</h2>
                    <p>En recherche d'alternance pour un Mastère Expert en développement Web</p>
                </div> 
                <a href="../../assets/Dev web Alt.pdf" target="_blank"> 
                    <button class="btn-cv" >
                        <i class="fa-solid fa-download"></i>
                        CV
                    </button>
                </a>
                <nav>
                    <ul>
                        <li><span></span><a href="#homeContent-presentation">Présentation</a></li>
                        <li><span></span><a href="#homeContent-competence">Compétence</a></li>
                        <li><span></span><a href="#homeContent-Projet">Projet</a></li>
                        <li><span></span><a routerLink="/Contact">Contact</a></li>
                        <!-- <li><span></span><a routerLink="/HomeCult">CutlForm</a></li> -->
                    </ul>
                </nav>
            </div>
            <div class="header-reseau">
                <a href="https://www.linkedin.com/in/niel-abdallah-aab366170/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/surcris" target="_blank"><i class="fa-brands fa-github"></i></a>
                
                
            </div>
            
        </div>
        
       
    </header>

    <main class="homeContent">
        <section id="homeContent-presentation">
            <p>
                Je suis développeur fullstack débutant basé à Toulouse, 
                passionné par la musique et les compétitions de jeux vidéo. J'aime explorer de nouvelles technologies et améliorer continuellement mes compétences 
                en programmation. 
            </p>
            
        </section>

        
        <div class="head-titre"><h2>Formations</h2></div>
        <section id="homeContent-formations">
            
            <h2 class="titre-section">Formations</h2>
            <br>
            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2023 - 2022</p>
                    
                </div>
                <div class="exp-desc">
                    <h3>FORMATION Concepteur développeur Bac +3</h3>
                    <p>Adrar - Toulouse</p>
                    
                    
                </div>
            </div>
            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2022 - 2021</p>
                    
                </div>
                <div class="exp-desc">
                    <h3>BTS SIO 1er année</h3>
                    <p>CNED</p>
                    
                    
                </div>
            </div>

            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2016 - 2018</p>
                    
                </div>
                <div class="exp-desc">
                    <h3>BTS Système numérique option réseau Bac +2</h3>
                    <p>CCI - Nîmes</p>
                    
                    
                </div>
            </div>

            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2015 - 2016</p>
                    
                </div>
                <div class="exp-desc">
                    <h3>Licence informatique 1er année</h3>
                    <p>Universiter de Montpellier</p>
                    
                    
                </div>
            </div>

            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2014 - 2015</p>
                </div>
                <div class="exp-desc">
                    <h3>Bac STI2D</h3>
                    <p>Lycée dhuoda - Nîmes</p>
                    
                    
                </div>
            </div>
        </section>
        <div class="head-titre"><h2>Expériences</h2></div>
        <section id="homeContent-experience">
            
            <h2 class="titre-section">Expériences</h2>
            <br>
            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2023 - 3 mois</p>
                    
                </div>
                <div class="exp-desc">
                    <h3>Stage Développeur web </h3>
                    <p>
                        Stage de fin de cursus réalisé chez un auto-entrepreneur. Participation à la conception et au développement de fonctionnalités front-end 
                        et back-end pour des sites web personnalisés.
                    </p>
                    <div>
                        <ul>
                            <li>
                                React
                            </li>
                            <li>
                                PHP
                            </li>
                            <li>
                                SQL
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="homeContent-experience-block">
                <div class="exp-date">
                    <p>2017 - 3 mois</p>
                    
                </div>
                <div class="exp-desc">
                    <h3>Stage Technicien informatique </h3>
                    <p>
                        Stage de fin de cursus de BTS Système Numérique
                    </p>
                    
                </div>
            </div>
        </section>
        <div class="head-titre"><h2>Compétences</h2></div>
        <section id="homeContent-competence">
            
            <h2 class="titre-section">Compétences</h2>
            <div class="competence-container">
                <div class="competence-block">
                    Angular
                </div>
                <div class="competence-block">
                    React
                </div>
                <div class="competence-block">
                    Vue Js
                </div>
                <div class="competence-block">
                    Symfony
                </div>
                <div class="competence-block">
                    PHP
                </div>
                <div class="competence-block">
                    SQL
                </div>
            </div>
        </section>
        <div class="head-titre"><h2>Projets</h2></div>
        <section id="homeContent-Projet">
           
            <h2 class="titre-section">Projets</h2>
            <br>
            <span>
                <div class="homeContent-Projet-block">
                    <div class="img">

                    </div>
                </div>
                <div class="homeContent-Projet-text">
                    <h3>Cultform</h3>
                    
                    <p>
                        Combattez des Ennemies puissant, collecter des ressources, 
                        améliorer votre Personnage et dominer le monde des Formes.
                    </p>
                    <a routerLink="/HomeCult">Voir CutlForm</a>
                    <div>
                        <ul>
                            <li>
                                Vue js
                            </li>
                            <li>
                                Angular
                            </li>
                            <li>
                                Node
                            </li>
                            <li>
                                Firebase
                            </li>
                        </ul>
                    </div>
                </div>
                

            </span>
            <span class="homeContent-Projet-block">
                <div>
                    <div class="img">

                    </div>
                </div>
                <div class="homeContent-Projet-text">
                    <h3>Préference</h3>
                    <p>
                        Sauvegarde d'informations sur les mangas et les comics. 
                        <br>
                        Todo list
                    </p>
                    <a href="https://preference.netlify.app/" target="_blank">Voir Préference</a>
                    <div>
                        <ul>
                            <li>
                                Vue js
                            </li>
                            <li>
                                Node
                            </li>
                            <li>
                                Firebase
                            </li>
                        </ul>
                    </div>
                </div>
            </span>

        </section>
    </main>
    
    
    
</div>

