<header>
    <div class="header-logo">

    </div>

    <div class="header-nav">

        <nav>
            <ul>
                <li><a href="">ACCUEIL</a></li>
                <li><a href="">DEMO</a></li>
                <!-- <li>FORUM</li> -->
                <li><a routerLink="/connexion" routerLinkActive="active" >CONNEXION</a></li>
                <li><a [routerLink]="['/inscription']" routerLinkActive="active">INSCRIPTION</a></li>
            </ul>
        </nav>
    </div>

    <div class="header-mobile">
        <div id="mySidenav" class="sidenav">
            <a id="closeBtn" (click)="closeNav()" class="close">×</a>
            <ul>
              <li><a routerLink="/HomeCult" routerLinkActive="active">Accueil</a></li>
              <li><a href="#" routerLinkActive="active">CV</a></li>
              <li><a >Demo</a></li>
              <li><a routerLink="/connexion" routerLinkActive="active">Connexion</a></li>
              <li><a [routerLink]="['/inscription']" routerLinkActive="active">Inscription</a></li>
              
            </ul>
          </div>
          
          <a (click)="openNav()" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
    </div>
</header>
